{# templates/product/search.html.twig #}

{% extends 'baseuser.html.twig' %}

{% block content %}
   <form action="" method="post">
<input type="text" name="search">
<input type="submit" name="submit" value="Search">
</form>
{% endblock %}