{% extends 'baseuser.html.twig' %}

{% block title %}Hello ModifyProfileController!{% endblock %}

{% block body %}
<style>
   
</style>

<div class="container">
    <table id="userRegistration" width="95%">
            <tr>
                <th colspan="2" id="userTH">USER MODIFICATION</th>
            </tr>
           <tr>
            <td>
                Username:
            </td>
            <td><input type="fullname" name="fullname" id="fullname" ></td>
            </tr>
            <tr>
            <td>
                Password:
            </td>
            </tr>
            <tr>
            <td>
                FirstName:
            </td>
            </tr>
            <tr>
            <td>
                LastName:
            </td>
        </tr>
            <tr id="userRegistration">
                <td colspan="2">
                    <input type="submit" value="Confirm" id="modify" name="modifyBtn">
                </td>
            </tr>
        </table>
</div>
{% endblock %}
