{# {% extends 'base.html.twig' %} #}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <div id="search" class="col-md-7 col-sm-12 col-xs-12">
        <form method="post" name="sform" action="index.php?page_layout=products/list.html.twig">
            <input onfocus="searchFocus();" onblur="searchBlur();" type="text" name="stext" placeholder="Search...">
            <input type="submit" name="submit" value="Search">
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function searchFocus() {
            if (document.sform.stext.value == 'Nhập từ khóa ...') {
                document.sform.stext.value = '';
            }
        }
        function searchBlur() {
            if (document.sform.stext.value == '') {
                document.sform.stext.value = 'Nhập từ khóa ...';
            }
        }
    </script>
{% endblock %}
